aclocal.m4
configure
autom4te.cache
depcomp
INSTALL
install-sh
missing
config.guess
config.h
config.h.in
config.log
config.status
config.sub
config.cache
Makefile
Makefile.in
*~
libtool
ltmain.sh
.deps
stamp-h1
.libs
*o
*a
